/* Layout (Torrents page nbl_light) */

@import url(https://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700,700italic);
@import url(https://fonts.googleapis.com/css?family=PT+Mono);

.cats_col   { padding: 0; }
.category { width: 28px; height: 28px; margin: 0; padding: 0; }


/* Global */
* {
    padding: 0;
    margin: 0;
    outline: 0 none;
}

:focus {
    outline: 0 none;
}
html {
    width: 100%;
    background-color: #a6a6a6;    
}

body {
    width: 100%;
    background: url('images/mainbg.png') repeat;
    font-family:"Open Sans",sans-serif;
    font-size: 12px;
    color: #555;
}

/* Common elements */

.tooltip{
    display: inline;
    position: relative;
}

.tooltip:hover:after{
    background: #333;
    background: rgba(0,0,0,.8);
    border-radius: 5px;
    bottom: 26px;
    color: #fff;
    content: attr(title);
    left: 20%;
    padding: 5px 15px;
    position: absolute;
    z-index: 98;
    width: 220px;
}

.tooltip:hover:before{
    border: solid;
    border-color: #333 transparent;
    border-width: 6px 6px 0 6px;
    bottom: 20px;
    content: "";
    left: 50%;
    position: absolute;
    z-index: 99;
}

a, .linkbox a, .permission_container a,
    .forum_index a, .forum_list a, #search_button, 
    #request_table a, .cat_list a, .tags a, .head a, .colhead_dark a {
	 color: #3a3a3a;
    text-decoration: none;
}

.box a {
    color: #2c539e;
    text-decoration: none;
}

a:visited, .linkbox a:visited, .permission_container a:visited,
    .forum_index a:visited, .forum_list a:visited, #search_button:visited,
    #request_table a:visited, .cat_list a:visited, .tags a:visited,
    .head a:visited, .colhead_dark a:visited {
    /* color: #333; -- if visited link is the same as normal link you cannot tell a link apart from normal text... */
     /* color: #005689; /* same as a non visited link if all links should look the same visited or not */
    color: #4682b4; /* a darker blue if you want to tell them apart */
}

a:hover, .linkbox a:hover, .permission_container a:hover,
    .forum_index a:hover, .forum_list a:hover, #search_button:hover,
    #request_table a:hover, .cat_list a:hover, .tags a:hover, .head a:hover,
    .colhead_dark a:hover {
    color: #2c539e;
    text-decoration: underline;
}

h1,h2,h3,h4 {
    margin: 5px 0;
}

h2 {
    font-size: 16px;
	text-align: center;
}

h4 {
    font-size: 8pt;
}

h5 {
    font-size: 12px;
		font-weight: normal;
}

p {
    margin: 10px 5px;
}

li {
    margin: 5px 15px;
}

select, input[type="text"] {
    padding: 2px 3px;
    background-color: #fff;
    color: #2b2b2b;
	border-style: solid;
    border-width: 1px;
    border-color: #989898;
}

select { 
    padding:0 0 0 1px;
}

textarea {
    padding: 2px 3px;
    background-color: #fff;
    color: #2b2b2b;
	border-style: solid;
    border-width: 1px;
    border-color: #989898;
}

img {
    border: none;
}

/* Ratio Colors */

.r00 { color: #FF0000; }
.r01 { color: #FF1300; }
.r02 { color: #FF1300; }
.r03 { color: #FF2600; }
.r04 { color: #FF4C00; }
.r05 { color: #FF5E00; }
.r06 { color: #FF5E00; }
.r07 { color: #FF7100; }
.r08 { color: #FF9700; }
.r09 { color: #FFAA00; }
.r10 { color: #74C42E; }
.r20 { color: #41bB00; }
.r50 { color: #41dB00; }
.r99 { color: #41eB00; }

/* Styles generated by the BBCode parser */

span.size0 { font-size:0.75em; }
span.size1 { font-size:1em; }
span.size2 { font-size:1.25em; }
span.size3 { font-size:1.5em; }
span.size4 { font-size:1.75em; }
span.size5 { font-size:2em; }
span.size6 { font-size:2.25em; }
span.size7 { font-size:2.5em; }
span.size8 { font-size:2.75em; }
span.size9 { font-size:3em; }
span.size10 { font-size:3.25em; }

code {
    font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
    
}
ul.thin { margin:0 0 0 25px; padding:0; }
ul.thin li { margin:0 0; padding:0; }

/* Layout (Every page) */

#header {
	width: 100%;
	padding: 0;
	height: 104px; /* This defines the height of the whole top part adjusts main dropdown menu */
}
#content {
	width: 100%;
	position: relative;
	min-width: 850px;
	/* overflow: hidden; */
}
#wrapper {
	width: 1000px;
	margin: 0 auto;
    background: rgba(224, 224, 224, 0.75);
    border-left: 1px solid;
    border-right: 1px solid;
    border-color: rgba(0, 0, 0, 0.15);
}

#footer {
    margin-top: 40px;
    width: 100%;
    min-width:1000px; 
    text-align: center;
    padding: 1em 0 0;
    color: #555;
}

#header_top {
    position: relative;
}

#logo {
    width: 1000px;
    background: url(images/logo.svg) no-repeat center center;
    background-size: 485px;
    height: 107px;
    position: relative;
}

#logo a {
    top: 20px;
    left: 246px;
    position: relative;
    width: 490px;
    height: 70px;
    display: block;
}

#logo a:hover {
	border: none;
}

#menu{
	position:relative;
	margin: 35px auto 10px auto;
	left: 0;
	right: 0;
	width: 100%;
	height: 35px;
	z-index: 1;
	list-style: none;
	text-decoration: none;
}
#menu:before {
  box-shadow: -10px 0 10px -10px rgba(0,0,0,1) inset;
  content: "  ";
  height: 54px;
  left: -10px;
  position: absolute;
  top: -9px;
  width: 10px;
}
#menu:after {
  box-shadow: 10px 0 10px -10px rgba(0,0,0,1) inset;
  content: "  ";
  height: 54px;
  right: -10px;
  position: absolute;
  top: -9px;
  width: 10px;
}
/* DROPDOWN STUFF */

nav#mainnav {
    top: 104px;
    width: 1000px;
    position: absolute;
    border-top: 1px solid rgba(0, 0, 0, 0.15);
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}
nav#mainnav ul ul {
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity 200ms linear;
    -moz-transition: opacity 200ms linear;
    -ms-transition: opacity 200ms linear;
    -o-transition: opacity 200ms linear;
    transition: opacity 200ms linear;
    z-index: 99999;
}

nav#mainnav ul li:hover > ul {
    visibility: visible;
    opacity: 1;
}

nav#mainnav ul {
    background:transparent; /* Background Color */
    list-style: none;
    padding: 0;
    position: relative;
    display: inline-table;
}
nav#mainnav ul:after {
    content: "";
    clear: both;
    display: block;
}
nav#mainnav ul li {
    width: 125px;
    float: left;
    margin: 0;
}
nav#mainnav ul li:hover {
    background: rgba(0, 0, 0, 0.08); /* Hover Color */
}
nav#mainnav ul li:hover a {
    color: #505050;
}
    
nav#mainnav ul li a {
    display: block;
    padding: 10px;
    color: #505050;
    font-size: 12px;
    font-weight: 700;
    text-align: center;
    text-shadow: none;
    text-decoration: none;
}
nav#mainnav ul ul {
    background: #c2c2c2; /* Background Color */
    padding: 0;
    text-align: left;
    position: absolute;
    top: 100%;
}
nav#mainnav ul ul li {
    float: none;
    position: relative;
}
nav#mainnav ul ul li a {
    color: #fff;
}   
nav#mainnav ul ul li a:hover { 
    background: #ababab; /* Hover Color */
}
nav#mainnav ul ul ul {
    position: absolute;
    left: 100%;
    top:0;
}
nav#mainnav ul li ul li a {
    text-align: left;
}
/* DROPDOWN STYLES */
 #menu1 {
	top: 128px;
	text-align:center;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	width: 1000px; /* Makes sure to make this the exact width of the menu or else it wont be in the middle! */
	visibility: hidden;
	}
    .potato-menu-item {
	color: #f9f9f9 !important;
    font-size:12px;
	font-weight: bold;
	background:#161314;border:none;
	width:120px;
	text-shadow: 1px 1px 1px #111;
	padding-left:5px !important; 		/* Sorry for using !important -TC */
	padding-top:5px !important; 		/* I should get killed for this -TC */
	padding-bottom:5px !important;		/* Should actually just combine it, bleh. -TC */
    }
    .potato-menu-group {
    z-index:1000;
	text-align:left;
    margin-top:5px !important; 		/* I should get killed for this -TC */
    }
    .potato-menu-item a {
    padding:5px 20px 5px 12px;
    color: #fff;
    }
    .potato-menu-hover {
    background:#2c539e;border:none;
    }
	
/* END DROPDOWN STUFF */


span.infinity {
    font-weight: bold;
}

#stats_block {
    font-size: 0.9em;
    text-align: right;
    color: white;
    height: 54px;
    position:absolute;
    right: 20px ;
    top:35%; 
}

#stats_block ul li, #header_bottom ul li {
    margin: 0 0.1em;
    line-height: 18px;
    padding: 0;
    display:inline;
}
#header_bottom ul li {
    margin: 0;
}

#header_bottom ul li ul li {
    white-space: nowrap;
}

table.userinfo_stats, table.userinfo_stats tr {
    background:none;
    background-color:transparent;
}
table.userinfo_stats td {
    padding:0 0;
}


#stats_block a, #stats_block a:visited, #header_bottom a, #header_bottom a:visited, #userinfo_username li ul, #userinfo_username li ul li a {
	font-size: 1.3em;
    text-decoration: none;
    color: #555555;
}

#stats_block a:hover, #header_bottom a:hover {
    text-decoration: none;
    color: white;
}

#header_bottom {
	font-size:11px;
	line-height:20px;
	margin-top:-110px;
	text-align:center;
	width:1020px;
	height:48px;
	position:relative;
	right:10px;
	top:2px;
}

#footer_bottom {
    height: 24px;
    width:100%;
    min-width:960px; 
}

#minor_stats { 
    float:left;
    margin: 0;
}

#major_stats_left {
    position: absolute;
    margin: 0 0 0 10px;
}
#major_stats { 
    float:right;
    margin: 0 10px 0 0;
}
 

#userinfo_username li ul a {
    display: block; 
}
#userinfo_tools li ul a {
    display: block; 
    width: 160px;
}

#userinfo_username li:hover ul, #userinfo_tools li:hover ul {
    display: block; 
}

#userinfo_username li a, #userinfo_tools li a, #userinfo_major li a, #modbar a {
    padding: 2px 2px 2px 2px;
	font-size:11px;
	line-height:20px;
}

#userinfo_username li a:hover, #userinfo_tools li a:hover, #userinfo_major li a:hover, #modbar a:hover {
    color: #2c539e;
	padding:2px 2px 2px 2px;
	z-index: 10;
}
#userinfo_username li ul, #userinfo_tools li ul {
    top: 0;
    font-weight: bold;
	list-style: none;
    display: none;
    position: absolute;
	padding: 5px;
    left: 1px;
    background: #c2c2c2;
    z-index: 10;
	text-align: left;
}
#userinfo_username li ul {
    left: 66px;
    top: 17px;
}

#userinfo_username li ul li a, #userinfo_tools li ul li a {
    padding:2px 2px 2px 2px;
}

#userinfo_username li ul li a:hover, #userinfo_tools li ul li a:hover {
    font-weight: bold;
	background-color: #ababab;
    color: #fff;
	text-align: left;
}

#userinfo_username {
    margin-right: 20px;
}
#userinfo_username, #userinfo_tools {
    display:inline;
    position: relative;
} 

#nav_userinfo, #nav_tools {
    padding-right: 8px !important;
    margin: 0 7px !important;
	background-image: url(images/dropdown_arrow.png);
    background-repeat:no-repeat;
    background-position: right center;
}	
#nav_upload,#nav_donate,#nav_useredit,#nav_logout {
    margin: 0 7px !important;
}


#userinfo_major {
    font-size: 0.85em;
    display:inline;
    margin-right: 20px;
}
 
span.inside_stat {
    display: block;
}
 
#userinfo_minor {
    font-size: 0.85em;
    display:inline;
}
  
span.stat {
    font-weight: bold; 
}

.highlight {
    font-weight: bold; 
}
.normal {
    font-weight:bold; 
}

#searchbars {
    position: absolute;
    top: 137px;
    text-align: center;
    padding: 10px 0;
    width: 100%;
    left: 0;
}

#searchbars form {
	display: inline;
}

#searchbars .searchcontainer { 
    display:inline-block;
    color: #222;
    position: relative;
}

#searchbars input.searchbox {
	position: relative;
	padding: 3px 3px 3px 5px;
	font-size: 0.9em;
	background-color: transparent;
	color: #555;
	border: 1px solid rgba(0, 0, 0, 0.15);
}

#searchbars .searchbutton {
	display:none; /* just hide the button */
}


#searchbars input {
	width: 120px;
	padding: 0 2px 0 10px;
	background: transparent;
	color: #FFF;
}

#searchbars ul {
    width: 955px;
    margin: 0 auto;
    display: block;
}

#searchbars ul li {
	display: inline;
	margin: 0 1px;
	list-style: none;
	position: relative;
}

#searchbars ul li ul {
	display: block;
	position: absolute;
	top: 1em;
	left: 0;
	z-index: 1000;
	width: 12em;
	margin-top: 12px;
}

#searchbars ul li ul li {
	margin: 0;
	padding: 0;
	display: block;
	width: 100%;
	background: #303030;
}

#searchbars ul li ul li.highlight {
	background: #454545;
}

.alertbar {
		background-image: linear-gradient(135deg, transparent, transparent 25%, hsla(0,0%,0%,.1) 25%, hsla(0,0%,0%,.1) 50%, transparent 50%, transparent 75%, hsla(0,0%,0%,.1) 75%, hsla(0,0%,0%,.1));
	  background-color: #45484e; /* Alert Background (red) */
    background-size: 20px 20px;
    box-shadow: 0 5px 0 hsla(0,0%,0%,.1);
    color: #f6f6f6;
}

.alertbar a {
    text-decoration: none;
    color: white;
}
.alertbar a:hover {
    text-decoration: underline;
}

.nicebar { 
   text-align: center;
   font-weight: bold;
   color: red;
   position:absolute;
   bottom:0px;
   top: 35%;
   right: 3%;
   z-index: 1000;
   height: 25px;
}

.blend {
    padding: 10px 40px 0;
    background-color: transparent;
    color: white;
	width: 900px;
}

.blendy {
    width: 100%;
	margin: auto;
	text-align: center;
	background-color: transparent;
}

.blend a {
    font-size: 0.8em;
    color: #f2f2f2;
    padding: 2px 2px;
    text-decoration: none;
} 

.blend a:hover {
   color: white;
   text-decoration: none;
}


.bluebar {
    padding: 2px 40px 2px;
    background-color: #003875;
    color: white;
}
.bluebar a {
    color: white;
    padding: 2px 2px;
} 
.bluebar a:hover {
    color: white;
   text-decoration: none;
}

/* Compose Staff Message form */

#compose {
    margin: 20px auto;
}

/* staff pms */
.messagecontainer { 
    height: 20px;
    margin: 0 auto 10px auto;
}

.messagebar {  
    padding-top: 3px; 
    height: 20px;
    background-color: #1a1; 
    text-align: center;
    font-weight: bold;
    color: white;
    border-radius: 10px;       /* FF9+ IE9+ */
    -moz-border-radius: 10px; /* for FF5 */
    -webkit-border-radius: 10px; /* for opera */
    border: 1px solid #151;
    white-space:nowrap;
}
.messagebar.alert {
    background-color: #e11; 
    border: 1px solid #511;
}

.messagebar.checking { 
    background-color: white; 
    color: black;
}

/* user classes */
.user_name { 
    font-weight: normal;
    padding: 1px 8px;
    margin: 0;
    color: #C2C2C2;
}

span.user_name a { 
    color: #2c539e;
    font-weight: bold;
}

span.user_name a:hover { 
    color: #2c539e;
    font-weight: bold;
}

.rank {  /* rank applies to all the following styles */
    font-weight: bold; 
}  

.Apprentice { color:#92a5c2; }
.Perv { color:#4Ec89B; }
.GoodPerv { color:#3c3; }
.SextremePerv { color:orange; }
.SmutPeddler { color:#00f; }
.EmpLegend { color:#CFB53B; }
.ModPerv { color:#000; }
.Admin { color:#606; }
.Sysop { color:#8B0000; }  /* PINK: #b93dd6 */
.Donor { color:#DAA520; }  /* #F4E649; */

span.user_title {
    
}

/* IE doesn't appear to like a simple display:none in our header. Random things start messing up pretty badly. */
.hidden {
    position: absolute;
    left: -10000px;
}

input.hidden {
    position: absolute;
    display: none;
}

/* Layout (Any page) */

.thin {
    width: 96%;
    min-width: 960px;
    margin-left:auto;
    margin-right:auto;
}

h2 a {
    color: #2C539E;
}

.box h2 {
    padding: 3px 40px;
    font-size: 14px;
    border-radius: 14px; 
    -moz-border-radius: 14px; 
    -webkit-border-radius: 14px;
}

.small {
    font-weight: normal;
    font-size: 0.9em;
}

.contact_link {
    display: inline;
    padding: 5px;
    margin: 0 20px 0 10px;
    font-weight: bold;
    background-color: #d00;
    border: 1px solid #005488;
    border-radius: 6px;       /* FF9+ IE9+ */
    -moz-border-radius: 6px; /* for FF5 */
    -webkit-border-radius: 6px; /* for opera */
}

a.contact_link {
    color: white;
    text-decoration: underline;
}
a.contact_link:hover {
    text-decoration: none;
}


div.linkbox {
	text-align:center;
    padding: 5px;
    color: grey;
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}

.medium { 
    text-align: left;
    width: 86%;
}

.long {  
    text-align: left;
    width: 97%;
}
 
.wid35 {
    width: 35%;
}

.min_padding {
    padding: 0;
    margin: 0 0;
}

p.min_padding {
    margin: 2px 0;
}

.pad {
    padding: 1em;
    color: #6b6b6b;
}

.vertical_space {
    margin-bottom: 10px;
}

.box {
    border: none;
    background-color: rgba(255, 255, 255, 0.5);
}

.box2 {
	margin-bottom: 10px;
	font-size: 8pt;
	background-color: #EAEAEA;
	border: 1px solid #666666;
}

.pad h3, .pad h4, .padbox h3, .padbox h4 {
    margin-top: 0;
    padding-top: 0;
}



#details_top {
    margin-bottom: 0px;
}

#top_info {
    display:inline-table;
    margin:16px auto 16px;
    border: 1px solid #c7c7c7;
    padding:0 6px 0 12px;
    background: transparent; 
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
}

table.boxstat { 
    border:none;
}

table.boxstat td { 
    padding: 4px 6px;
    border-top:none;
    border-right: none;
    border-left:1px solid #c7c7c7;
    border-bottom:none;
    background: transparent; 
    text-align:center;
}

table.boxstat td:first-child { 
    border-left:none;
}

.boxstat img {
    vertical-align:middle;
    text-align:center;
}

.button.togglez {
    cursor: pointer;

}

.button.toggle {
    width: 80px;
    margin: 6px 0 0 8px;
    padding: 4px 12px;
    color: #fff;
    cursor: pointer;
    vertical-align: top;
}

#user_message .button {
    margin: 0 0 8px 8px;
    padding: 4px 12px;
    vertical-align: middle;
}

#staff_tools, #warning_status {
    margin-bottom: 15px;
}

.warning {
    font-size: 0.9em;
    font-weight: normal;
    text-align: center;
    padding: 4px 0;
}

.greybar {
    background: #aaa;
    color: white;
    font-weight: bolder;
}
.redbar {
    background: #F08080;
    color: white;
    font-weight: bolder;
}

.orangebar {
    background: #FF9900;
    color: white;
    font-weight: bolder;
}

.redbar a, .orangebar a {
    color: white;
    font-weight: bold;
    text-decoration: none;
}

.redbar a:hover, .orangebar a:hover {
    text-decoration: none;
}

.icon {
    display:inline-block;
    width:20px;
    height:17px;
    margin-left: 4px;
}

.sicon {
    display:inline-block;
    width:10px;
    height:10px;
    margin-right: 3px;
}

.icon_warning {
    background: url('images/warn.svg') no-repeat center bottom;
}
.icon_okay {
    background: url('images/okay.svg') no-repeat center bottom;
}

.icon_disk_none {
    background: url('images/disk.svg') no-repeat center bottom;
}

.icon_disk_leech {
    background: url('images/diskdown.svg') no-repeat center bottom;
}

.icon_disk_seed {
    background: url('images/diskup.svg') no-repeat center bottom;
}

.icon_disk_grabbed {
    background: url('images/diskgrabbed.svg') no-repeat center bottom;
}

.icon_search {
    background: url('images/search.svg') no-repeat center bottom;
}

.icon_doubleseed {
    background: url('images/doubleseed.svg') no-repeat center bottom;
}

.icon_disk_snatched {
    background: url('images/disksnatched.svg') no-repeat center bottom;
}

.icon_bookmark {
    background: url('images/bookmark.svg') no-repeat center bottom;
	cursor: pointer;
}
.icon_bookmark.bookmarked {
    background: url('images/bookmarked.svg') no-repeat center bottom;
}
.icon_watched {
    background: url('images/watched.svg') no-repeat center bottom;
}

#top_info .icon_warning {
    background: url('images/warn.svg') no-repeat center bottom;
}

#staff_tools .icon, .torrent .icon {
    width:20px;
    height:20px;
    margin-top: -2px;
    -moz-background-size: 16px 16px;
    -o-background-size:16px 16px;
    -webkit-background-size:16px 16px;
    background-size: 16px 16px;
}

#staff_tools td {
    padding: 5px 5px;
}

table.mediainfo {
   border: thin solid #989898;
   margin: 0 auto;
}

div.mediainfo {
	background-color: #bbbbbb;
	margin: 0.5em;
	padding: 1em;
	padding-bottom: 0;
	border: thin dashed #000;
	font-family: monospace;
}


.details {
    width: 96%;
    min-width: 920px;
    margin-left:auto;
    margin-right:auto;
}

.details div.linkbox {
    text-align:center;
    padding: 0;
    margin: 0;    /* 12px 0 1px 0; */
}

.details .sidebar, #requests .sidebar {
    width: 260px;
}

.details .middle_column, #requests .middle_column {
    margin: 0 270px 10px 0;
}

.middle_column table {
    margin-bottom: 20px;
}

.middle_column .torrent_table {
    margin-top: 0;
}

.details .main_column, #requests .main_column {
    margin: 0 0 0 0;
}

.details .tag_add {
    border-top: 1px solid #98AAB1;
    padding: 2px 10px 2px 10px;
}
.tag_warning {
    font-size: 1.1em;
}

.box_albumart{
    margin: 0;
    text-align: center;
}

.sidebar .box {
    margin: 0 5px 10px 5px;
}

.thin .box {
    margin: 0 auto 10px;
}

.details .box {
    margin: 0;
}

.head {
    height: 30px;
    padding: 16px 0 0 10px !important;
    border: none;
    background-color: #bbbbbb;
	font-weight: 600;
	padding: 3px 10px !important;
	margin: 0 !important;
    line-height: 30px;
}

.body {
     padding: 3px 10px 10px 10px; 
}

.sidebar {
    float: right;
    width: 280px;
    height: 100%;
    margin-left: 10px;
}

.main_column {
    overflow: auto;
}

.main_column .box, .main_column table {
    margin-bottom: 10px; /* this damn line controls the spaces between news items */
}

.tags {
  padding: 0 0 0 5px;
	font-size: 11px;
	font-style: italic;
}

.tags a:hover {
    text-decoration: underline;
}



ul.nobullet {
    list-style-type: none;
}


span.red {
    font-weight: bold;
    color: red;
}
span.green {
    font-weight: bold;
    color: green;
}
span.grey {
	font-weight: bold;
    color: #bbbbbb;
}


table {
    width: 100%;
    border-collapse: collapse;
}

tr.rowa, .rowa {    
    background-color: rgba(255, 255, 255, 0.5);
}

tr.rowb, .rowb {
    background-color: rgba(224, 224, 224, 0.75);
}
tr.rowa.sticky {
    background-color:#bbb;
}
tr.rowb.sticky {
    background-color:#ababab;
}
.torrent.delbar {
 background-color: #650000;
 color: #e4e4e4;
}
.torrent.delbar a {
 color: #e4e4e4;
}
td {
    border: 1px solid #989898;
    padding: 5px;
    text-align: left;
}

td.cola {
    background-color: #f8f8f8; 
}

td.colb {
    background-color: white;
}

table.wid740 {
    margin: auto;
    width: 740px; 
    border-collapse: collapse;
    border: 1px solid #c7c7c7;
}

table.noborder td {
    border:none;
}
/* Bonus Shop */

.shopbutton {
    width: 60px;
    background-color: white;
    padding: 2px 10px 2px;
    border: 2px solid;
    border-color: #1a1;
    color: black;
    cursor:pointer;
}

input.shopbutton.itembuy:hover {
    border-color: #6f6;
}

.bonusshop td {
    padding: 10px;
    
}

.itemnotbuy input.shopbutton, input.itemnotbuy {
    background-color: #ddd;
    border: 2px solid #944;
    cursor:auto;
}

.itembuy td {
    font-weight: bold;
}

.smallhead {
    background-color: #e0e0e0;
}

.colhead a {
    color: #3a3a3a;
}

.colhead a:hover {
    color: #2c539e;
}

.colhead a:visited {
    color: #2c539e;
}

td.colhead, .colhead td, .colhead_dark {
    background-color: #bbbbbb;
    padding-left: 10px;
    padding-right: 10px;
}

.colhead_dark {
  height: 30px;
  font-weight: 600;
  padding: 3px 10px;
  line-height: 30px;
}

.colhead .sign, .colhead_dark .colhead_red .sign {
    padding: 0 8px 0 8px;
    vertical-align:middle;
    text-align:center;
    font-size: 12pt;
    font-weight: bold;
}

td.label {
    font-size: 0.9em;
	font-weight: bold;
    text-align: left;
    width: 100px;
}
 

table.slice {
    margin-top: -1px;
}

.error_message {
    border-top: 1px solid #C1965C;
    padding: 3px 0 3px 0;
    background-color: #AF2525;
    text-align: center;
    color: white;
    font-weight: bold;
}

.save_message {
    border: 1px solid #C1965C;
    padding: 3px 0 3px 0;
    background-color: #F4E649;
    text-align: center;
    color: #492802;
    font-weight: bold;
}

.elem_error {
    border: 3px solid #B00D0D;
}

.hide {
    display:none;
}

#upload .cover_image {
    width:260px;
    margin: 0 auto;
}


/* Layout (home page) */

ul.stats li {
    padding: 0 0 1px 0;
}

ul.poll li {
    padding: 0 0 0 10px;
    margin: 0;
    clear: left;
}

ul.poll li.graph {
    margin-bottom: 15px;
    padding-left: 20px;
}

.featured > tbody > tr:first-child td:before {
  border-top: #e6e6e6 25px solid;
}
.featured > tbody > tr:first-child td:after {
  border-top: #e6e6e6 25px solid;
}
.featured > tbody > tr:first-child td > .featured-bevels:before {
  border-left: #e6e6e6 25px solid;
}
.featured > tbody > tr:first-child td > .featured-bevels:after {
  border-right: #e6e6e6 25px solid;
}


/* Layout (Torrents page) */

.show_torrents {
    width: 28px;
    height: 28px;
    background: url('images/show.png') no-repeat center center;
}

.hide_torrents {
    width: 28px;
    height: 28px;
    background: url('images/hide.png') no-repeat center center;
}

.show_torrents_link {
    border: none;
    width: 28px;
    height: 28px;
    display: block;
}

.filter_torrents {
    margin-left:auto;
    margin-right:auto;
    margin-bottom:0;
}

#filter_slidetoggle {
    margin: -1px auto 15px;
    height:20px;
    text-align: center;
    font-weight: bold;
    font-size: 14pt;
	height: 38px;
	font-size:0.9em !important;
    font-weight: normal;
    -moz-border-radius: 0 0 5px 5px;
    -webkit-border-bottom-left-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    padding: 3px 7px;
    overflow: hidden;  
    line-height: 38px;
    
}

#search_box .box.pad {
    margin-bottom:0;
}

.filter_torrents .submit {
    text-align:right;
    padding-top:5px;
}

.filter_torrents .inputtext {
    width:400px;
}

.filter_torrents .smaller {
    width:300px;
}

.filter_torrents .smallish {
    width:200px;
}

.filter_torrents .smallest {
    width:50px;
}

.filter_torrents option {
    padding-right:8px;
}

.cat_list {
    margin-top: -1px;
}

.cat_list tr td {
    border:none;    
}

.cat_label {
    font-size: 12px;
}

.taglist {
    margin-bottom: 15px;
}

.taglist tr td {
    border:none;
    text-align: center;
}

.select_container {
    margin:5px;
}

.torrent {
    font-size: 12px;
}
.torrent_table tr {
    vertical-align:top;
}

.torrent_table td {
  max-width: 100%;
  min-width: 16px;
	padding: 5px;
}

.group {
    font-weight:bold;
    background-color:#D7E2EF;
}

.group_torrent {
    /*background-color: transparent;*/
}

.group_torrent span {
    float:right;
}

.torrent {
    font-weight:bold;
}

.torrent span {
    font-weight:normal;
}

.torrent_table div.tags {
    font-weight:normal;
}

.torrent_table tr .center {
    vertical-align:middle;
    text-align:center;
}

.torrent_table td .small {
    width:20px;
}

.torrent_table a img {
    border:none;
}

.torrent_table table {
    width:98%;
    margin: 10px;
}

.torrent .user {
    font-weight: normal;
    vertical-align: middle;
    text-align: center;
}

.nobr {
    white-space:nowrap;
}

.filesvgs {
		background-color: #555555;
}

.advanced_search {
    text-align:right;
    padding-bottom:5px;
}

.unreadnotification {
    border: 2px solid #E2D244;
}
td.left {
    border-left: 1px solid #989898;
}

/* Top10 */
.top10 {
    text-align: right;
}
.top10.stat {
    width:16px
}
.top10.statname {
    width:40px
}
.top10.statlong {
    width:60px
}


table.top10_tags {
    max-width:800px;
    margin:auto;
}
table.top10_tags td {
    border-left:none;
    border-right:none;
}
.head.top10_tags {
    max-width:780px;
    margin:auto !important;
}

.tags_rank {
    text-align:center;
    width:120px;
}
.tags_tag {
    text-align:center;
    width:200px;
}
.tags_uses {
    text-align:center;
}
.tags_votes {
    text-align:center;
}
.tags_votes_detail {
    width: 40px;
    text-align:center;
}
.tags_votes_detail2 {
    width: 40px;
    text-align:left;
}

.total_votes {
    color: #03b;
    text-align:center;
}
.neg_votes {
    color: #911;
    text-align:center;
}
.pos_votes {
    color: #382;
    text-align:center;
}

.friends_table {
    margin-bottom: 10px;
}

div.tagtable {
    width: 900px;
    display:block;
    margin: 0 auto;
}

.tagtable {
    display:inline;
    width: 240px;
    border:none;
}

.tagtable td {
    width: 80px;
    border: none;
    text-align: center;
}

/* Layout (Forums) */
.last_post {width: 15px; height: 15px; background: url(images/go_last_read.svg) no-repeat center center; margin-left: 5px;}
.last_read {width: 15px; height: 15px; background: url(images/go_last_read.svg) no-repeat center center; margin-left: 5px;}
.last_read a, .last_post a { border: none; width: 100%; height: 100%; display: block; }
.last_read a:hover, .last_post a:hover { border: none; }
.colhead_dark .last_read { background-image:url(images/go_last_read.svg); }

.unread_locked_sticky{background: url(images/locked_sticky_unread.svg) no-repeat center center;}
.read_locked_sticky{background: url(images/locked_sticky_read.svg) no-repeat center center;}
.read_sticky{background: url(images/sticky_read.svg) no-repeat center center;}
.unread_sticky{background: url(images/sticky_unread.svg) no-repeat center center;}
.unread_locked{background: url(images/locked_unread.svg) no-repeat center center;}
.read_locked{background: url(images/locked_read.svg) no-repeat center center;}
.unread{background: url(images/unread.svg) no-repeat center center;}
.read{background: url(images/read.svg) no-repeat center center;}

table.forum_index {
    font-size: 12px;
    margin-bottom: 20px;
}

table.forum_list {
    font-size: 12px;
}

/*span.last_topic, span.last_read,*/
.last_poster, .first_poster {
    font-size: 12px;
} 

table.forum_post {
    margin: 0 0 20px 0;
    border: 1px solid black;
}

table.forum_post td {
}

table.forum_unread {
    /* border: 2px solid #98AAB1; Lanz: hmm fix later... */
}

td.avatar {
    width: 150px;
    min-height: 150px; 
    padding: 0;
    text-align: center;
}

.newstatus{
    color: #3f3;
    padding: 0 3px;
}

blockquote {
    margin: 10px;
    padding: 10px;
    border: 1px dashed #98AAB1;
}

/* Signatures layout */ 

.post_container {
    position: relative;
    height:100%;
}

div.post_content  {
    min-height: 100px;  
    padding: 12px; 
}

div.post_footer  { 
    margin-top: 4px; 
}

td.sig { 
    padding: 8px;
    vertical-align: top;
}

table .scale_image {
	max-width: 750px;
}
#collage table .scale_image {
	max-width: 600px;
}

td.postbody {
    padding:0;
}
 
.editedby {
    color:#999;
}

td.badgesrow, .badgesrow {
    border-top: 1px solid #dcdde4;
    padding:0;
}

.badges {
    margin-left:6px;
    padding: 4px;
    text-align: left;
}

.badges img {
    max-width: 80px;
    max-height: 40px;
    margin:1px;
}

#badgesadmin img {
    margin-bottom: 6px;
}

#badgesadmin .badge {
    margin: 8px;
}

.badge {
   display:inline-block;
   text-align: center;
}

.addbadges {
   text-align: left;
}

.addbadges .badge {
   display:block;
}

/* Layout (Inbox) */

tr.unreadpm {
    background-color: #D9C660;
}

/* Layout (Permission Page) */

.permission_head {
    width: 350px;
    margin-left:auto;
    margin-right:auto;
}

.permission_head input {
    width: 200px;
}

.permission_head input.wid35 {
    width: 83px;
}

.permission_head td.label {
    font-weight: bold;
    text-align: right;
    width: 130px;
}

.permissions {
    width:930px;
    margin-left:auto;
    margin-right:auto;
}

.permission_container {
    float:left;
    width:300px;
    padding:5px;
}

.permission_container input {
    margin:0 3px 5px 0;
    vertical-align:top;
}

.submit_container {
    clear:both;
    text-align:right;
}

/* Layout (Invite tree) */

ul .invitetree {
    margin: 0 0 0 25px;
}

.invitetree li {
    list-style: none;
    margin: 10px 2px;
}

/* Layout (MISC) */

.left_poll {
    width: 2px;
    height: 9px;
    background: url('images/bar_left.gif') no-repeat center center;
    float: left;
    margin: 0;
    padding: 0;
}

.center_poll {
    height: 9px;
    background: url('images/bar.gif') repeat;
    float: left;
    margin: 0;
    padding: 0;
}

.right_poll {
    width: 2px;
    height: 9px;
    background: url('images/bar_right.gif') no-repeat center center;
    float: left;
    margin: 0;
    padding: 0;
}

.curtain {
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.85);
    z-index:1001;
}

.lightbox {
    position: fixed;
    text-align: center;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
    padding: 0;
    z-index:1002;
    overflow: auto;
}

.center {
    text-align: center;
}

.spellcheck { 
    margin: 25px 0;
    font-size: 1.25em;
    font-weight: bold;
}

/* bbcode */

div.modcomment {
    background-color: #ecf0f6; 
    text-align: left;
    margin: 12px auto;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-left: 10px;
    border: 2px solid #600;
    color: black;
    font-size: 12px;
    font-weight: normal;
}
div.modcomment div.after {
    float:right;
    color: #800;
    font-size: 8pt;
    font-weight: normal;
    padding: 5px 4px 1px 0;
}

div.modcomment:before {
    color: #800;
    content: "Staff Comment: ";
    font-weight: bold;
}

div.bbcode { /* bg tag */
    background-color: inherit; 
    text-align: inherit;
    margin: 0 auto;
}

table.bbcode {
    background-color: transparent; 
    text-align: inherit;
    margin: 0 auto;
}
tr.bbcode {
    background-color: inherit; 
    text-align: inherit;
}
th.bbcode {
    background-color: inherit; 
    text-align: inherit;
    font-size: larger;
    padding: 7px;
    font-weight: bolder;
}
td.bbcode {
    background-color: inherit; 
    text-align: inherit;
}
table.bbcode.noborder tr, table.bbcode.noborder th, table.bbcode.noborder td {
    border: none;
}

span.postlink { 
    display:block;
    width: 10px;
    height: 10px;
    background: url('images/viewpost.svg') no-repeat center center;
    vertical-align: bottom;
}
a.postlink {
    border: none; 
    display:inline-block;
}
span.quote_label {
    float:left;
    font-size: 8pt;
    margin-left:10px;
    margin-bottom: 4px;
}
blockquote.bbcode {
    clear:both;
    color: #777777;
    text-align: left;
}

code.error {
    display:inline-block;
    color: #c00;
    font-size: larger;
    font-weight: bolder;
    padding:1px 0;
}

a.anchor, a.anchor:visited, a.anchor:hover {
    font-weight: normal;
    font-size: 1.5em;
    color: #0261a3;
    text-decoration: none;
}

/*  Stuff for the bbcode assistant  */

table.bb_holder {
    border-collapse:collapse; 
    background:	#e0e0e0; 
    width: 100%;
    margin: 0;
}
 
table.bb_holder td {
    padding:0;
}

.bb_smiley_holder {
    text-align: center; 
    padding: 0; 
    max-width:100%;
}
 
select.bb_button { 
    padding:0; 
    background: #9e9e9e;
    cursor:pointer;
    color: #FFF; 
    height: 24px;
    margin-top:-4px;
    border: 1px solid rgb(126, 125, 125);
}

.bb_buttons_left {
    float: left; 
    text-align: left; 
    margin: 6px 4px 0 0;
    min-height: 20px;
}

.bb_buttons_right {
    float: right;
    margin-top: 3px;
}
.bb_buttons_right div {
    float: left; 
    text-align: left;
    margin: 3px 4px 0 0;
}

a.bb_button { 
    padding:3px 6px; 
    background: #989898;
    cursor:pointer;
    color: #FFFFFF; 
    border: 1px solid rgb(126, 125, 125); /* #005488; */
}

a.bb_button:hover { 
    text-decoration:none; 
    background: rgb(118, 118, 118);
    color: #ffffff; 
}

.bb_icon { 
    padding:2px; 
    margin:-2px 1px 0 0; 
    background:white;
    cursor:pointer; 
    border: 1px solid #7BA3C1;
}

.bb_help {
    color: #005689;
    font-weight: bold;
    padding: 2px 8px;
}
.bb_smiley img {
    padding: 1px 1px 2px; 
}

.bb_icon:hover { 
    background: #2b709e; 
}

.overflow_button {
    padding: 1px; 
    margin:3px 1px 2px; 
    font-weight: bold; 
    text-align: center; 
}

.overflow_button a {
    padding:0 8px; 
}

.overflow_button .number {
    font-weight: normal; 
}

.color_pick td { 
	padding:2px; 
	width:10px; 
	height:10px; 
	cursor:pointer; 
}

.picker_holder { 
    display: block;
}

.color_pick { 
    display: block;
	border-collapse:collapse; 
}

.color_pick, .color_pick td { 
	border: 1px solid #c7c7c7; 
}

.color_pick td:hover { 
    border: 1px solid #c7c7c7; 
}

/*  Torrent Buttons  */

#torrent_buttons {
    /*margin-left: 10px;*/
    margin-bottom: 10px;
}

a.button {
	display: inline-block;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-border-radius: 3px;
    margin: 0 8px 4px 0;
	text-decoration: none;
	color: #fff;	
	border: none;
	font-size: 11px;
	vertical-align: top;
	cursor: pointer;  /* hand; */
	line-height: 11px;
	text-align: center;
	font-size: 12px;
	line-height: 12px;
	padding: 7px 15px;
}

a.button:hover {
    color: white;
    text-decoration: none;
}
a.button:visited {
	text-decoration: none;
	color: #fff;	
}

.greenButton {
	background: #5da53a;
}

.greenButton:hover {
	background: #48802d;
}

.blueButton {
	background: #1f9db4;
}

.blueButton:hover {
	background: #187b8c;
}

.redButton {
	background: #ab3041;
}

.redButton:hover {
	background: #812;
}

.infoButton {
    background: #5A8Bb8;    /* #024a7c;#BACBD8 #9AaBb8 */
}
.infoButton:hover {
    background: #3A6B98;  
}
.orangeButton {
	background: #ff7f26;
}

.orangeButton:hover {
	background: #d96d21;
}

.overlay, .leftOverlay, .rightOverlay {
    background-color:  #ffffff;
    border: 1px solid #212121;
    color: #212121;
   
}

.overlay .leftOverlay {
    width: 400px;
}

.overlay .rightOverlay {
    min-width: 150px;
    vertical-align: top;
	font-size: 0.85em;
}

span.reported {
    font-weight: bold;
    color: red;
    float: none;
}
#inform {
    color: red;
}
.reels, .reelsi {
    white-space:nowrap;
}

.reels img {
    background-color: transparent;
    border: 3px solid #666666;
}
.reels.play img {
    background-color: transparent;
    border: 3px solid #666666;
}
.reelsi img {
    background-color: transparent;
    border: 1px solid #666666;
}
.reels img.win {
    border: 3px solid #00FF00;
}
img.win.flash {
    border: 3px solid #00FF00;
}
.payout {
    width:74px;
    vertical-align:top;
    display:inline-block;
    text-align: center;
    font-weight: bold;
    font-size: 14px;
    color:#555555;
    padding-top:7px;
}

.fmresults td {
    text-align: center;
    border: none;
}
.fmresults td.fmheader {
    text-align: center;
    border: none;
    background-color: #eee;
    color: black;
    font-weight: bold;
    font-size: 1.1em;
}

.fm input[type=button] {
    background-color: white;
    padding: 2px 10px 2px;
    border: 2px solid #555555;
    width:80px;
    color: #555555;
    cursor:pointer;
}

.fm input[type=text] {
    text-align: center;
    color: #bbb;
    cursor:default;
    width:70px;
}

.chip {
    text-align: center;
    width:60px;
    height:150px;
    position:absolute;
    background: url('images/betchip.png') no-repeat center center;
}
.chip span {
    position:relative;
    text-align: center;
    top:69px;
    font-size: 11px;
    font-weight: bold;
    color:black;
}

.statusown a {
	cursor: pointer; 
}

.status_box {
    margin: 10px auto 20px;
    width: 96%; 
    min-width: 920px;
    border: none;
    padding:2px; 
}
.staffstatus {
	display: inline-block;
	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
    margin: 4px 4px;
	text-decoration: none;
	color: #fff;
	font-size: 11px;
	vertical-align: top;
	cursor: default; 
	line-height: 11px;
	text-align: center;
	font-size: 12px;
	line-height: 12px;
	padding: 5px 15px; 
}
.staffstatus a {
	color: #000;	
}
.staffstatus a:visited {
	color: #000;	
}
.status_checking {
    float:right;
    background: #8dd56a;
    border: 1px solid #3B8311;
}
.status_notchecking {
    float:left;
    background: #eaa;
    border: 1px solid #822;
}
.nostaff_checking {
    margin-top:6px;
    float:right;
    color: #000;
    margin-right:10px;
}
.status_loading {
    margin-top:6px;
    float:left;
    color:#222;
}

.pager {
    font-size: 12px;
	font-weight:bold;
}

.seedhistory {
    font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
}


.donate_details {
    background-color: #525252;
    padding: 5px 20px;
    border: 2px solid;
    border-color: #000000;
}

.donate_details table td {
    color: #e8e8e8;
    background-color:#525252;
}
.donate_details table tr.rowb td {
    background-color:#E8D874;
}

.donate_details.green {
    background-color:#dfd;
    border-color: #95c395;
}
.donate_details.green table td {
    color: #000000;
    background-color:#ddffdd;
}
.donate_details.green table tr.rowb td {
    background-color:#ddffdd;
}


.donate_details .address {
    font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
    font-weight: bold;
    color: #4a4a4a;
}



.donate_drives .label {
    width: 100px;
}


.donate_drives .button {
	display: inline-block;
	-moz-border-radius: 2px;
	border-radius: 2px;
	-webkit-border-radius: 2px;
    margin: 0 3px 3px 0;
	text-decoration: none;
	color: #fff;	
    font-weight: bold;
	border: none;
	vertical-align: top;
	padding: 4px 4px;
}

.greyButton {
	background: #bbb;
}

.scrollbox {
    max-height:400px;
    overflow: auto;
}


#active_drive .donorbar {
    height: 15px;
    position: relative;
    background: #555;
    padding: 0px;
}

#active_drive .donorpercent {
    display: block;
    height: 100%;
    top: -15px;
    background-color: #2c529f;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

#active_drive .donortext {
    font-size: 11px;
    font-weight: normal;
    display: block;
    height: 15px;
    color: #fff;
    top: 0px;
    padding: 0 21px;
    position: relative;
    z-index: 2;
}

#donorbargreen {
    display:inline-block;
    font-size: 12px;  
    height: 15px;
    background: url('images/green.png') repeat center center;
    color:white;
    font-weight: normal;
    text-align: right;
}

#donorbarred {
    top: 44px;
	padding-top: 0;
    display:inline-block;
    font-size: 11px;  
    height: 13px; 
    color:#000;
    font-weight: normal;
    text-align: left;
	position: absolute;
	left: 840px;
}

#sig {
    overflow: hidden;
}
#torrentsigbox {
    padding-top: 5px;
    overflow: hidden;
    border-top: #ccc solid 1px;
}

#user_dropdown {
    display:inline;
    position: relative;
    white-space:nowrap;
}
#user_dropdown ul {
    list-style: none;
    display: none;
    position: absolute;
    left: -8px;
    top: 1.3em;
    background-color: #f8f8f8;
    color: #000;
    border: 1px solid #989898;
    z-index: 10;
}
#user_dropdown:hover ul {
    display: block; 
}
#user_dropdown ul li {
    margin: 0;
    padding: 0;
}
#user_dropdown ul a {
    display: block; 
}
#user_dropdown ul li a {
    background-color: #efefef;
	margin: 0; 
    text-align: left;
    padding: 1px 8px 1px 8px;
    white-space:nowrap;
    font-weight: normal;
}

#user_dropdown ul li a:hover {
    background-color: #2c539e;
    color: white;
    text-decoration: none;
}

.groupperm {
    display:inline-block;
    position: relative;
    top:-5px;
    font-size:0.8em;
    font-weight: bold;
    margin: 0 1px 0 2px;
}

.user_peers {
    font-size: 12px;
    font-weight: bold;
}
a#nav_seeding {
    margin-left:25px;
}
a#nav_leeching {
    margin-left:5px;
}
#nav_seeding_r {
    color:#008000;
}
#nav_leeching_r {
    color:#9F000F;
}

 
div.autoresults {
    display:inline-block;
    position: relative;
    vertical-align: top;
} 
   
div.autoresults ul {
    position: absolute;
    list-style: none;
    display: block; 
    background-color:white;
    color: #333;
    border: 1px solid #777;
    border-radius: 4px;  
    -moz-border-radius: 4px; 
    -webkit-border-radius: 4px;  
    z-index: 10;
    visibility: hidden;
    font-size: 14px;
}
div.autoresults ul li {
    margin: 0;
    text-align: left;
    padding: 0 8px 0 8px;
    white-space:nowrap;
}
div.autoresults ul li.highlight {
    font-weight: normal;
    background-color: #888;
    color: white;
    text-decoration: none;
} 
div.autoresults ul li span.num {
    color:#aaa;
}
div.autoresults ul li.highlight span.num { 
    color: white; 
} 


table.border {
    border: 1px solid #282828; 
}

table.noborder td, .noborder {
    border:none;
}

.tag_results {
    display:inline-block;
    width:49%;
    vertical-align: top;
}

.tag_results:first-child {
    display:inline-block;
    width:50%;
    vertical-align: top;
}

.tag_results td:first-child {
    padding-left:20px;
}

.tagtype {
    font-size: 0.9em;
    vertical-align: top;
}

.synonyms {
    padding: 1px 5px;
    color: #777;
}

.plusmn {
    font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
    font-weight: bold;
    float:right;
    cursor:pointer;
}
.plusmn a:hover{
    text-decoration: none;
}

.votes {
    color:#999;
}

.search_highlight {
    color:#FF0066;
}


.nopad {
    margin:0;
    padding:0;
}
.nopad .scale_image {
    margin:0;
    padding:0;
}
.nopad td {
    margin:0;
    padding:0;
}


table.vat td {
    vertical-align: top;
}
table.vam td  {
    vertical-align: middle;
}
table.vab td  {
    vertical-align: bottom;
}

td.bbcode.vat {
    vertical-align: top;
}
td.bbcode.vam  {
    vertical-align: middle;
}
td.bbcode.vab  {
    vertical-align: bottom;
}

blockquote.bbcode.error {
    border: 2px solid #c00;
    padding: 5px 10px;
}
blockquote.bbcode.error code.error {
    font-size: 1.2em;
}

.tag_header {
    padding: 7px 5px 0 5px;
    text-align: center;
}
  
.button_sort {
    display: inline-block;
    border: 1px solid #7BA3C1;
    border-radius: 3px;
    background-color: #eff3f6;
    text-align: center;
    font-style: normal;
    width: 40px;
    margin:auto;
    cursor:pointer;
}

.button_sort.sort_select {
    background-color: #0261A3;
    background-color: #5A8Bb8;
    color: white;
}
.button_sort.sort_select a {
    color: white;
}

.button_sort a, .button_sort a:visited {
    color: #0261A3;
}
.button_sort:hover {
    background-color: #0261A3;
    background-color: #5A8Bb8;
    color: white;
}
.button_sort:hover a {
    background-color: #0261A3;
    background-color: #5A8Bb8;
    color: white;
}

.button_sort a:hover {
    text-decoration: none;
    color: white;
}

.tag_header div {
    margin-bottom:4px;
}

.tag_header div:before {
    font-size: 0.8em;
    content: "sort by";
    margin-right: 3px;
} 

.indent {
    margin-left: 20px;
}

.anon_name {
    font-weight: normal;
    text-align: center;
}

/* Interaction states
----------------------------------*/
.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
    border: 1px solid #666666;
    background: #888888 url("images/ui-bg_glass_75_e6e6e6_1x400.png") 50% 50% repeat-x;
    font-weight: normal;
    color: #333333;
}
.ui-state-default a,
.ui-state-default a:link,
.ui-state-default a:visited {
    color: #555555;
    text-decoration: none;
}
.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus {
    border: 1px solid #777777;
    background: #666666;
    font-weight: normal;
    color: #212121;
}
.ui-state-hover a,
.ui-state-hover a:hover,
.ui-state-hover a:link,
.ui-state-hover a:visited,
.ui-state-focus a,
.ui-state-focus a:hover,
.ui-state-focus a:link,
.ui-state-focus a:visited {
    color: #212121;
    text-decoration: none;
}
.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active {
    border: 1px solid #aaaaaa;
    background: #ffffff url("images/ui-bg_glass_65_ffffff_1x400.png") 50% 50% repeat-x;
    font-weight: normal;
    color: #212121;
}
.ui-state-active a,
.ui-state-active a:link,
.ui-state-active a:visited {
    color: #212121;
    text-decoration: none;
}

#candyfloss {
    height: 70px;
}

.site_option {
	padding: 15px;
	float: left;
	width: 300px;
}

.tvschedule td a {
    color: #3a3a3a;
}
.tooltipster-default {
    border: 1px solid #929292;
    background: #ffffff;
    color: #212121;
}

.season_head {
   margin:  1px;
   font-weight: bold;  
}

a.Downloaded:hover, a.Leeching:hover, a.Seeding:hover, a.Snatched:hover {
   color: #3a3a3a;
}

.personalRating {
 color: #555;
}

.icon_follow {
   background: url('images/follow.svg') no-repeat center bottom;
	cursor: pointer;
}

.icon_follow.followed {
   background: url('images/followed.svg') no-repeat center bottom;
}

.icon_notify {
   background: url('images/notify.svg') no-repeat center bottom;
	cursor: pointer;
}

.icon_notify.notified {
   background: url('images/notified.svg') no-repeat center bottom;
}
